<aside id="left-sidebar-off">
  <div id="left-sidebar-container">
    <nav id="left-sidebar-nav">
      <div class="left-sidebar-links">
        <ul>
          <li id="lipage"><a routerLink="/home" (click)="toggleOffSidebar()">Home</a></li>
          <li id="liabout"><a routerLink="/about" (click)="toggleOffSidebar()">About</a></li>
          <li id="limusic"><a routerLink="/contact" (click)="toggleOffSidebar()">Contact</a></li>
          <li id="liuser"><a routerLink="/user-create" (click)="toggleOffSidebar()">Register</a></li>
          <li id="liuser"><a routerLink="/user" (click)="toggleOffSidebar()">Uzivatele</a></li>
        </ul>



        <div class="options" *ngIf="block">
          <div class="options-title-box" *ngFor="let option of filteredOptions;" [routerLink]="option.path" (click)="toggleOptionsOff()">
            {{option.title}}
          </div>
        </div>
      </div>
    </nav>
  </div>
</aside>
